body {
  text-align:center;
  background-color:blue;
  color:white;
    }

a:hover{
  background-color: orange;
  color: red;
  font-size: 20px;
}

#container, #tictactoenav {
  background-color:white;
  color:black;
  margin:25px;
  padding:25px;
  border-radius:15px;
    }

ul {
  text-align:left;
}

#notes {
  padding-top: 15px;
}

#tictactoe_board {
  margin-left: auto;
  margin-right: auto;
  height: 350px;
  padding-top: 15px;
  width: 320;
  font-size: 100px;
}

.box {
  border-style: solid;
  float: left;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  height:100px;
  width:100px;
  background-color: white;
}

#hangman {
  width: 800px;
  height: 850px;
  margin-right: auto;
  margin-left: auto;
}

#drawinggroup{
  width: 800px;
  height: 400px;
  background-color: pink;
}

#drawing{
  width: 400px;
  height: 400px;
  float: left;
  background-color: orange;
}

#chosenletters{
  width: 400px;
  height: 400px;
  float: right;
  background-color: lightblue;
}

#stick{
  width: 5px;
  height: 300px;
  background-color: black;
  position: relative;
  left: 105px;
  top: 50px;
}

#top{
  background-color: black;
  width: 125px;
  height: 5px;
  position: relative;
  top: 55px;
  left: 105px;
}

#bottom{
  background-color: black;
  height: 5px;
  width: 200px;
  position: relative;
  top: 50px;
  left: 15px;
}

#word{
  height: 400px;
  width: 750px;
  background-color: green;
  padding-top: 50px;
  padding-left: 50px;
}

#noose{
  background-color: black;
  width: 5px;
  height: 20px;
  position: relative;
  top: -250px;
  left: 225px;
}

#head{
  background-color: black;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: relative;
  top: -250px;
  left: 190px;
}

#body{
	background-color: black;
	width: 5px;
	height: 125px;
	position: relative;
	top: -250px;
	left: 225px;
}

#rightarm{
	background-color: black;
	width: 70px;
	height: 5px;
	position: relative;
	top: -335px;
	left: 218px;
	transform: rotate(45deg);
}

#leftarm{
	background-color: black;
	width: 70px;
	height: 5px;
	position: relative;
	top: -340px;
	left: 167px;
	transform: rotate(135deg);
}

#rightleg{
	background-color: black;
	width: 100px;
	height: 5px;
	position: relative;
	top: -230px;
	left: 212px;
	transform: rotate(45deg);
}

#leftleg{
	background-color: black;
	width: 100px;
	height: 5px;
	position: relative;
	top: -235px;
	left: 143px;
	transform: rotate(135deg);
}
/*
Letters currently not used
*/

#letters{
  position: relative;
  top: 30px;
  left: -160px;
  font-size: 30px;
}

.wordletters{
  background-color: black;
  height: 3px;
  width: 50px;
  float: left;
  margin: 20px;
}